In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier

In [26]:
df = pd.read_csv('abalone19.csv')

In [27]:
df

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Class
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,negative
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,negative
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,negative
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,negative
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,negative
...,...,...,...,...,...,...,...,...,...
4169,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,negative
4170,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,negative
4171,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,negative
4172,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,negative
4173,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,negative

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [29]:
df["Sex"]=le.fit_transform(df["Sex"])

In [30]:
df

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Class
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,negative
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,negative
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,negative
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,negative
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,negative
...,...,...,...,...,...,...,...,...,...
4169,2,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,negative
4170,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,negative
4171,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,negative
4172,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,negative
4173,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,negative

In [31]:
X=df.drop("Class",axis=1)
X

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4169,2,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290
4170,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4171,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4172,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4173,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960

In [32]:
y=df["Class"]
y

0       negative
1       negative
2       negative
3       negative
4       negative
          ...
4169    negative
4170    negative
4171    negative
4172    negative
4173    negative
Name: Class, Length: 4174, dtype: object

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [36]:
d={"RandomForestClassifier":RandomForestClassifier(),
  "LogisticRegression":LogisticRegression(),
  "SVC":SVC(),
  "DecisionTreeClassifier":DecisionTreeClassifier(),
  "MLPClassifier":MLPClassifier()}

In [37]:
def hh(model):
    classifier=model
    classifier.fit(X_train,y_train)
    y_pred=classifier.predict(X_test)
    return accuracy_score(y_test,y_pred)

In [38]:
for i,j in d.items():
    print(i,hh(j))

RandomForestClassifier 0.9940119760479041
LogisticRegression 0.9940119760479041
SVC 0.9940119760479041
DecisionTreeClassifier 0.9880239520958084
MLPClassifier 0.9940119760479041

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
encoder=OneHotEncoder()
d=encoder.fit_transform(df[["Sex"]]).toarray()

In [56]:
dd=pd.DataFrame(d,columns=encoder.get_feature_names_out())
dd

AttributeError: 'OneHotEncoder' object has no attribute 'get_feature_names_out'